{% extends 'includes/layout.twig' %}

{% block body %}
	{% include "includes/navbar.twig" %}
	<main class="page landing-page">
		<section class="clean-block clean-hero" style="background-image: url(public/img/backgrounds/pexels-pixabay-164743.jpg);color: rgba(9, 162, 255, 0.85);">
			<div class="text">
				<h2>ToneGuessr</h2>
				<p>Test your earing accuracy by guessing a random audio frequency.&nbsp;</p><a href="/play" class="btn btn-outline-light btn-lg" type="button">Play now !</a>
			</div>
		</section>
		<section class="clean-block features">
			<div class="container">
				<div class="block-heading">
					<h2 class="text-info">Features</h2>
					<p>ToneGuessr let you test your earing accuracy and&nbsp;track you accuracy over time&nbsp;<br><br></p>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-5 feature-box"><i class="icon-music-tone-alt icon"></i>
						<h4>Test your accuracy</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
					</div>
					<div class="col-md-5 feature-box"><i class="icon-graph icon"></i>
						<h4>Track over time</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
					</div>
					<div class="col-md-5 feature-box"><i class="icon-screen-smartphone icon"></i>
						<h4>Responsive</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
					</div>
					<div class="col-md-5 feature-box"><i class="icon-refresh icon"></i>
						<h4>All Browser Compatibility</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
					</div>
				</div>
			</div>
		</section>
	</main>

	{% include "includes/footer.twig" %}
{% endblock %}
