{
	"auth": {
		"google": {
			"client_id":"ENTER-YOUR-CLIENT-ID-HERE",
			"client_secret":"ENTER-SECRET-HERE",
		  	"callback_uri":"http://localhost:3000/auth/google/callback"
		},
	  	"facebook": {
		  "app_id": "ENTER-YOUR-CLIENT-ID-HERE",
		  "app_secret": "ENTER-SECRET-HERE",
		  "callback_uri":"http://localhost:3000/auth/facebook/callback"
		}
	  	"twitter": {
		  "app_id": "ENTER-YOUR-CLIENT-ID-HERE",
		  "app_secret": "ENTER-SECRET-HERE",
		  "callback_uri":"http://localhost:3000/auth/twitter/callback"
		}
	},
  	"database": {
	  	"mongodb_uri": "ENTER-THE-MONGODB-SERVER-URI"
	}
}
