{% extends '../includes/layout.twig' %}

{% block body %}
	{% include "../includes/navbar.twig" %}
	<main class="page">
		<section class="clean-block clean-hero" style="background-image: url(/public/img/backgrounds/pexels-pixabay-164743.jpg);color: rgba(9, 162, 255, 0.85);">
			<div id="gameSettingPage" class="clean-block game-config text-black-50 container" style="z-index: 10;">
				<div class="container">
					<div class="row">
						<div class="col">
							<h2 class="text-info">ToneGuessr Terms and Conditions of Use</h2>
						</div>
					</div>

					<div class="row">
						<div class="col" style="text-align: left">
							<h2>1. Terms</h2>
							<p>By accessing this Website, accessible from https://games.thestaticturtle.fr/toneguessr/, you are agreeing to be bound by these Website Terms and Conditions of Use and agree that you are responsible for the agreement with any applicable local laws. If you disagree with any of these terms, you are prohibited from accessing this site. The materials contained in this Website are protected by copyright and trade mark law. These Terms of Service has been created with the help of the <a href="https://www.termsofservicegenerator.net">Terms of Service Generator</a> and the <a href="https://www.termsconditionsexample.com">Terms & Conditions Example</a>.</p>

							<h2>2. Use License</h2>
							<p>Permission is granted to download one copy of the materials on ToneGuessr's Website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:</p>
							<ul>
								<li>use the materials for any commercial purpose or for any public display;</li>
							</ul>
							<p>This will let ToneGuessr to terminate upon violations of any of these restrictions. Upon termination, your viewing right will also be terminated and you should destroy any downloaded materials in your possession whether it is printed or electronic format.</p>

							<h2>3. Disclaimer</h2>
							<p>All the materials on ToneGuessr’s Website are provided "as is". ToneGuessr makes no warranties, may it be expressed or implied, therefore negates all other warranties. Furthermore, ToneGuessr does not make any representations concerning the accuracy or reliability of the use of the materials on its Website or otherwise relating to such materials or any sites linked to this Website.</p>

							<h2>4. Limitations</h2>
							<p>ToneGuessr or its suppliers will not be hold accountable for any damages that will arise with the use or inability to use the materials on ToneGuessr’s Website, even if ToneGuessr or an authorize representative of this Website has been notified, orally or written, of the possibility of such damage. Some jurisdiction does not allow limitations on implied warranties or limitations of liability for incidental damages, these limitations may not apply to you.</p>

							<h2>5. Revisions and Errata</h2>
							<p>The materials appearing on ToneGuessr’s Website may include technical, typographical, or photographic errors. ToneGuessr will not promise that any of the materials in this Website are accurate, complete, or current. ToneGuessr may change the materials contained on its Website at any time without notice. ToneGuessr does not make any commitment to update the materials.</p>

							<h2>6. Links</h2>
							<p>ToneGuessr has not reviewed all of the sites linked to its Website and is not responsible for the contents of any such linked site. The presence of any link does not imply endorsement by ToneGuessr of the site. The use of any linked website is at the user’s own risk.</p>

							<h2>7. Site Terms of Use Modifications</h2>
							<p>ToneGuessr may revise these Terms of Use for its Website at any time without prior notice. By using this Website, you are agreeing to be bound by the current version of these Terms and Conditions of Use.</p>

							<h2>8. Your Privacy</h2>
							<p>Please read <a href="{{ site.base_uri }}faq/privacy_policy">our Privacy Policy</a>.</p>

							<h2>9. Governing Law</h2>
							<p>Any claim related to ToneGuessr's Website shall be governed by the laws of fr without regards to its conflict of law provisions.</p>
						</div>
					</div>

				</div>
			</div>

		</section>
	</main>
	{% include "../includes/footer.twig" %}
{% endblock %}
